body{
    margin: 0;
    padding: 0;
}
.step{
    position: relative;
}

.step::after{
    content: '';
    height: 100%;
    border: 1.5px dashed #1ca8cb;
    position: absolute;
    top: 0;
    left: 23px;
    z-index: -10;
}